<h1><%= @article.name %></h1>

<h8>By <% @article.users.each do |name| %>
<%= name.name %>
<% end %>
</h8>

<h3><%= @article.content %></h3>

<% @article.tags.each do |tag| %>
<ul>
<li><%= tag.topic %></li>
</ul>
<% end %>
