
  <h1 style="margin-top: 40px;">Epicodus Reference Wiki</h1>

<form action="/results" method="post" style="margin-top: 20px;">
  <input placeholder="Enter keyword to search" id="search_word" name="search_word" type="text">
  <button type="submit">Search</button>
</form>
