<h1>Epicodus Reference Wiki</h1>



<form action="/results" method="post">
  <input placeholder="Enter keyword to search" id="search_word" name="search_word" type="text">
  <button type="submit">Search</button>
</form>
