<h1># Insert title here</h1>

<form action="/results">
  <div class="form-group">
     <label for="p1">#Label text here
     </label>
     <input id="p1" name="p1" class="form-control" type="text">
    </br>
    </br>
    </br>
    </br>


     <label for="p2">#Label text
     </label>
     <input id="p2" name="p2" class="form-control" type="text">
  </div>

    </br>
    </br>

  <button type="submit" class="btn-success">Send</button>
</form>
