
  <h1 style="margin-top: 40px;">Epicodus Reference Wiki</h1>

<form action="/results" method="post" style="margin-top: 20px;">
  <input placeholder="Enter keyword to search" id="search_word" name="search_word" type="text">
  <button type="submit">Search</button>
</form>

<!-- <div class='container'>
  <h2 class="transparent">Current tags:</h2>
  <%@tags.each do |tag|%>
  <ul style="list-style: none;">
    <li class="col-md-6"> <a href="/results/<%=tag.topic%>"><%=tag.topic%></a></li>
  </ul>
  <%end%>
</div> -->

<div class='container'>
<h2 class="transparent">Current tags:</h2>
  <%@tags.each do |tag|%>
  <ul id="menu" style="list-style: none;">
    <li> <a href="/results/<%=tag.topic%>"><%=tag.topic%></a></li>
  </ul>
  <%end%>
</div>
