<!DOCTYPE html>
<html lang="en">
  <head>


    <div class="navbar navbar">
      <h3>epiwiki</h3>
      <a class="btn btn-primary btn-md" href="/" role="button">HOME</a>
      <a class="btn btn-primary btn-md" href="/articles/new" role="button">ADD NEW ARTICLE</a>
    </div>


    <meta charset="utf-8">
    <title>epiwiki</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
