<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Epicodus Reference Wiki</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
  </head>

    <body>

</div>
</div>
    <div class="wide">
    </div>

    <div class="container">
      <div class="navbar navbar">
        <h2>Epiwiki</h2>
        <a class="btn btn-primary btn-md" href="/" role="button">HOME</a>
        <a class="btn btn-primary btn-md" href="/articles/new" role="button">ADD NEW ARTICLE</a>
        <a class="btn btn-primary btn-md" href="/add_user" role="button">ADD NEW USER</a>
        <a class="btn btn-primary btn-md" href="/admin" role="button">ADMIN ONLY</a>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
