<% @tags.each do |tag| %>
<% if search_word = tag %>
  <% tag.articles each do |article|%>

  <ul>
    <li><%= article.name %></li>
  </ul>

<% else %>
  <h3>Your search did not return any results.</h3>
<% end %>
