<%if @result.articles.present? %>
  <h1>Articles with the <%= @result.topic %> tag:</h1>
  <% @result.articles.each do |article| %>
  <ul>
    <li> <h3><a href = "/articles/<%= article.id %>"><%= article.name %></a></h3></li>
  </ul>
  <% end %>
<%else%>
  <h1>You currently have no articles with this tag.</h1>
<%end%>
