<h2 style="margin-top: 40px;">Enter a user name:</h2>

<form action="/users" method="post" style="margin-top: 20px;">
<input placeholder="New User" id="user_name" name="user_name" type="text">
<button type="submit">Add</button>
</form>


<!-- <form action='/users' method='post' style="margin-top: 58px;">
  <label for='user_name'>Enter a user name:</label>
  <input type='text' name='user_name' id='user_name'>
  <button type="submit">Add</button>
</form> -->
