/*body {
    color: blue;
}*/

h1 {
  text-align:center;

}

.transparent {
  background: #7f7f7f;
  background: rgba(255, 255, 255, 0.5);

}

/*h2 {
    color: rgb(255,0,0);
}*/

h3 {
  color: #fff;
  background: #666;
  text-shadow: 0px 1px 1px #000;
}

body {

  background: url("../images/grass.jpg") no-repeat center center fixed;

  /*background-image: url("../images/grass.jpg");*/
  /*background: url("/images/grass.jpg") no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
margin: 0 auto;
width:250px;
}
